/*
  App.css가 다른 컴포넌트들에도 적용이 되는 것 같을 때,
  각각의 컴포넌트에 각각 스타일 파일을 만드는 것 
  vs 전역 스타일로 만드는 것

  - 전체적으로 적용되는거는 전역 스타일
  - 특정 컴포넌트에만 적용되는건 각각 스타일 적용

  컴포넌트마다 각각 스타일을 적용할 수 있게 만드는 것이
  CSS Module
  CSS 파일 명 -> Ex1.module.css
*/


.box {
  width: 100vw;
  height: 200px;
  background: cyan;
  color: white;
  font-weight: bold;
}