$primary-color : #3498db;
$font-base: 'Helvetica, sans-serif';
$padding-base : 1rem;

$card-border: 1px solid $primary-color;
$card-radius : 10px;
$card-width: 200px;
$card-bg-color: #ccc;
$card-transition-time :0.2s;
$card-hover-offset: 5px;