@mixin button-style($size) {

  @if $size == small {
    padding: 7px 12px;
    font-size: 0.8rem;
  } 
  @else if $size == medium {
    padding: 10px 20px;
    font-size: 1rem;
  }
  @else if $size == large {
    padding: 14px 24px;
    font-size: 1.2rem;
  }
  
  border: none;
  border-radius: 8px;
  color: white;
  background-color: #4291db;
  cursor: pointer;
  margin:0.5rem;

  &:hover {
    opacity: 0.9;
  }
}

.primary1 {
  @include button-style(small)
}

.primary2 {
  @include button-style(medium)
}

.primary3 {
  @include button-style(large)
}
