.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  width: 70%;
  height: 100%;

  gap: 50px;

}

.movie {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 5px;

  width: 200px;
  height: 450px;

}

.movie__img {
  background-color: #b7b7b7;
  width: 200px;
  height: 260px;
}

.movie__rank--top {
  text-align: center;
  background-color: #fb4357;
  color: white;

  padding: 3px 10px;

  font-size: 1.2rem;
}


.movie__rank {
  text-align: center;
  background-color: #333333;
  color: white;

  padding: 5px 10px;

  font-size: 1.2rem;
}

.movie__name {
  font-size: 1rem;
  font-weight: bold;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
  display: block;
}

.movie__info {
  font-size: 0.9rem;
}

.movie__reserve {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #fb4357;
  color: white;
  font-size: 0.8rem;

  width: 100px;
  height: 25px;

  text-align: center;

  border: none;
  border-radius: 5px;
}

a {
  text-decoration-line: none;
}